{%extends "base.html"%}
{% comment %}
Copyright 2010 Lorenzo Benfenati, Andrea Zucchelli"
This file is part of MyMovieCollection.

MyMovieCollection is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3 as published by
the Free Software Foundation.

MyMovieCollection is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with MyMovieCollection. If not, see <http://www.gnu.org/licenses/>
{% endcomment %}
{%block title%}MMC: Search result{%endblock title%}
{%block content%}

{%if titles%}
<div class="section"><div>{{titles|length}} titles found</div>
<div class="titlelist">
	{%for s in titles%}
	{%with s.get_series_title as parent%}
	{%if s %}<div class="titleitem {% cycle 'tcolleft' 'tcolcenter' 'tcolright' %}">
<a href="{%url mymc.views.view_title s.id%}">
{% if s.cover %}
<img class="cover small" src="{{s.cover.url}}"/>
{%else%}
	{% if s.get_series_title.cover %}
	<img class="cover small" src="{{s.get_series_title.cover.url}}"/>
	{%else%}
	<img class="cover small" src="{{MEDIA_URL}}img/Film_Reel.png"/>
	{%endif%}
{%endif%}</a>
<div class="listitemtitle">{% if s.is_episode %}[ <a href="{% url mymc.views.view_title parent.id %}">{{parent.title}}</a> S{{s.get_season}}E{{s.get_episode}}] {%endif%}
	<a href="{%url mymc.views.view_title s.id%}">{{s.title}} ({{s.year}})
</a></div>
</div>
{%endif%}
{%endwith%}
{%endfor%}
</div></div>
{%endif%}
{%if people%}
<div class="section">
	<div>{{people|length}} people found</div>
<div class="itemlist">
	{%for t in people%}
	<div class="listitemtitle {% cycle 'tcolleft' 'tcolcenter' 'tcolright' %}"><a href="{%url mymc.views.view_person t.id%}">{{t.name}}</a></div>
{%endfor%}
</div></div>
{%endif%}
{%if files%}
<div class="section"><div>{{files|length}} files found</div>
<div class="itemlist">
{%for t in files%}
<div class="listitemtitle {% cycle 'tcolleft' 'tcolcenter' 'tcolright' %}"><a href="{%url mymc.views.view_file t.id%}">{{t.filename}}</a></div>
{%endfor%}
</div></div>
{%endif%}
{%endblock content%}
