{%extends "base.html"%}
{% comment %}
Copyright 2010 Lorenzo Benfenati, Andrea Zucchelli"
This file is part of MyMovieCollection.

MyMovieCollection is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3 as published by
the Free Software Foundation.

MyMovieCollection is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with MyMovieCollection. If not, see <http://www.gnu.org/licenses/>
{% endcomment %}
{%block title%}MMC: Streaming Process of file {{proc.file.filename}}{%endblock title%}
{%block content%}
<h1 class="title">{{proc.file.filename}}</h1>

<div>Pid: {{proc.pid}}</div>
<div>Port: {{proc.port}}</div>
<div>Command: {{proc.command}}</div>
<div>Start date: {{proc.starttime}}</div>
<div>End Date: {{proc.endtime}}</div>
<div><a href="{%url streamer.views.kill_process proc.id%}"><b>stop now</b></a></div>
<div><a href="{%url streamer.views.restart_process proc.id%}" ><b>restart</b></a></div>
{%endblock content%}
